<p class="subtitle has-text-centered subtitle-demand">Vous avez accepté une proposition de réparation, veuillez procéder au paiement pour passer à l'étape suivante</p>
<a class="button is-outlined is-primary" href="{{ path('pay_repair', {'id': ad.repair.id}) }}">
	<span>Payer</span>
</a>
