<p class="subtitle has-text-centered subtitle-demand">Vous avez des propositions de réparation en attente</p>

{% for repairProposition in ad.repairPropositions %}
<div class="columns is-vcentered">
	<div class="column is-6 is-offset-3">
		<div class="columns is-vcentered">
			<div class="column is-4">
				<p>
					<span class="title2">{{repairProposition.proposer.firstName}}
						{{repairProposition.proposer.lastName}}</span>
					<br>
					<span class="subtitle2">
						{{repairProposition.proposer.postCode}}
						{{repairProposition.proposer.city}}</span>
				</p>
			</div>
			<div class="column is-2 has-text-centered">
				<p class="subtitle2">{{repairProposition.price}} €</p>
			</div>
			<div class="column is-6 has-text-centered">
				<a class="button is-outlined is-info m-1r"
					href="{{ path('accept_repair_proposition', {'id': repairProposition.id}) }}">
					<span>Accepter</span>
				</a>
				<a class="button is-outlined is-primary"
					href="{{ path('refuse_repair_proposition', {'id': repairProposition.id}) }}">
					<span>Refuser</span>
				</a>
			</div>
		</div>
	</div>
</div>
<hr style="background-color: white; width: 20%;">
{% endfor %}