<p class="subtitle has-text-centered subtitle-demand">Paiement enregistré ! Veuillez notifier lorsque vous aurez envoyé le produit au réparateur</p>
<a class="button is-outlined is-primary" href="{{ path('notify_product_sent_to_repairer', {'id': ad.repair.id}) }}">
	<span>Notifier le réparateur de l'envoi</span>
</a>
