<p class="subtitle has-text-centered subtitle-demand">Le réparateur a fini de réparer votre produit et vous l'a envoyé. Veuillez confirmer la réception et la réparation de votre produit</p>
<a class="button is-outlined is-primary" href="{{ path('confirm_repair', {'id': ad.repair.id}) }}">
	<span>Confirmer la réception du produit réparé</span>
</a>
