{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - CGU
{% endblock %}
{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
  <p class="title has-text-centered">CGU</p>
</div>
{% endblock %} {% block body %}
<div class="container">
    <div class="card has-background-light">
        <div class="card-content">
            <div class="has-text-centered">
                <p class="title is-size-4 has-text-centered">Conditions générales d'utilisation du site u-fix.fr (site factice)</p><br/>
            </div>
            <div class="article-cgu">
                <h2 class="title is-size-5 is-uppercase">Article 1: Objet</h2>
                <p>Les présentes "conditions générales d'utilisation" ont pour objet l'encadrement juridique des modalités de mise à disposition des services du site uFix et leur utilisation par "l'Utilisateur. Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l'Utilisateur. L'accès au site par l'Utilisateur signifie son acceptation des présentes conditions générales d'utilisation.</p><br/>
                <p>Éventuellement :</p>
                <div class="article-cgu-list">
                    <p>- En cas de non-acceptation des conditions générales d'utilisation stipulées dans le présent contract, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.</p>
                    <p>- uFix se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d'utilisation.</p>
                </div>
            </div>
            <div class="article-cgu">
                <h2 class="title is-size-5 is-uppercase">Article 2: Définitions</h2>
                <p>La présente clause a pour objet de définir les différents termes essentiels du contrat : </p>
                <div class="article-cgu-list">
                    <p>- Utilisateur: ce terme désigne toute personne qui utilise le site ou l'un des services proposés par le site.</p>
                    <p>- Contenu utilisateur: ce sont les données transmises par l'Utilisateur au sein du site.</p>
                    <p>- Membre: l'Utilisateur devient membre lorsqu'il est identifié sur le site.</p>
                    <p>- Identifiant et mot de passe: c'est l'ensemble des informations nécessaires à l'identification d'un Utilisateur sur le site. L'Identifiant et le mot de passe permettent à l'Utilisateur d'accéder à des services réservés aux membres du site. Le mot de passe est confidentiel.</p>
                </div>
            </div>
            <div class="article-cgu">
                <h2 class="title is-size-5 is-uppercase">Article 3: accès aux services</h2>
                <p>Le site permet à l'Utilisateur un accès gratuit aux services suivants :</p>
                <div class="article-cgu-list">
                    <p>- Recherche de produits à acheter ou à réparer.</p>
                    <p>- Déposer une annonce d'un produit à vendre ou à réparer.</p>
                    <p>- Mise en relation de personnes avec un système de messagerie.</p>
                    <p>- Publication de note entre utilisateur et réparateur.</p>
                    <p>- Sauvegarde d'annonces</p>
                </div>
                <p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p><br/>
                <p>Selon le cas :</p>
                <p>L'Utilisateur non membre n'a pas accès aux services réservés aux membres. Pour cela, il doit s'identifier à l'aide de son identifiant et de son mot de passe.</p>
                <p>Le site met en oeuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L'obligation étant de moyens, le site ne s'engage pas à atteindre ce résultat.</p>
                <p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de uFix.</p><br/>
                <p>L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l'adresse suivante : ufixfr@gmail.com</p>
            </div>
            <div class="article-cgu">
                <h2 class="title is-size-5 is-uppercase">Article 4: Propriété intellectuelle</h2>
                <p>Les marques, logos, signes et tout autre contenu du site font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>
                <p>L'utilisateur sollicite l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus.</p>
                <p>Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité. L'Utilisateur s'engage à ne pas mettre en ligne du contenu pouvant porter atteinte aux intérêts de tierces personnes.</p>
                <p>Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié par le site. L'Utilisateur ne reçoit aucune justification et notification  préalablement à la suppresion ou à la modification du contenu Utilisateur.</p>
            </div>
            <div class="article-cgu">
                <h2 class="title is-size-5 is-uppercase">Article 5: Données personnelles</h2>
                <p>Les informations demandées à l'inscription au site sont nécessaires et obligatoires pour la création du compte de l'Utilisateur. En particulier, l'adresse éléctronique pourra être utilisée par le site pour l'administration, la gestion et l'animation du service.</p>
                <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
                <p>En vertu des articles 48 et suivants de la loi n°78-17 relative à l'informatique, aux fichiers et aux libertés en date du 6 janvier 1978, réécrite par l'ordonnance n°2018-1125 du 12 décembre 2018 applicable au 1er juin 2019, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppresion et d'opposition de ses données personnelles. L'utilisateur exerce ce droit via :</p>
                <div class="article-cgu-list">
                    <p>- son espace personelle</p>
                    <p>- un formulaire de contact</p>
                    <p>- par mail à ufixfr@gmail.com</p>
                </div>
            </div>
            <div class="article-cgu">
                <h2 class="title is-size-5 is-uppercase">Article 6: Publication par l'Utilisateur</h2>
                <p>Le site permet aux membres de publier des annonces et envoyer des messages.</p>
                <p>Dans ses publications, le membre s'engage à respecter les règles de la Netiquette et les règles de droit en vigueur.</p>
                <p>Le membre reste titulaire de l'intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.</p>
                <p>La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.</p>
            </div>
            
            {# <script id="CookieDeclaration" src="https://consent.cookiebot.com/428dabee-e240-4e0e-bb74-4b168a3fccf1/cd.js" type="text/javascript" async></script> #}

        </div>
    </div>
</div>
{% endblock %}