{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Informations générales
{% endblock %}

{% block navbar %}
    {{ parent() }}
    <div class="container-is-fluid extended">
        <p class="title has-text-centered">Informations générales</p>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card has-background-light">
            <div class="card-content">
                <div class="has-text-centered">
                    <p class="title is-size-4 has-text-centered">Informations générales</p>
                    <p>
                        Choisisez un sujet sur lequel vous souhaitez obtenir plus d'informations dans la liste ci-dessous.
                        Si vous ne trouvez pas votre bonheur ici vous pouvez nous envoyer un message <a href="{{ path('contact') }}">ici</a>
                        , nous ferons notre posible pour vous répondre.
                    </p>
                </div>
                <div class="general-information">
                    <ul>
                        <li>
                            <a href="{{ path('ufix') }}">Comment fonctionne UFix</a>
                        </li>
                        <li>
                            <a href="{{ path('equipe') }}">Notre équipe</a>
                        </li>
                        <li>
                            <a href="{{ path('green_it') }}">Qu'est-ce que le Green-It ?</a>
                        </li>
                        <li>
                            <a href="{{ path('cgu') }}">Voir les conditions générales d'utilisation</a>
                        </li>
                        <li>
                            <a href="{{ path('legal_mentions') }}">Voir les mentions légales</a>
                        </li>
                    </ul>

                </div>

                <div class="legal-mentions">
                    <p class="title is-size-5 is-uppercase">Contactez-nous</p>
                    <p>UFix est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français par courrier
                        électronique à : ufixfr@gmail.com ou <a href="{{ path('contact') }}">ici</a>.
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}