{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - UFix c'est quoi ?
{% endblock %}

{% block navbar %}
    {{ parent() }}
    <div class="container-is-fluid extended">
        <h1 class="title has-text-centered">UFix c'est quoi ?</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="card has-background-light">
    <div class="card-content">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="general-info">
                    <h2 class="subtitle1 is-size-4 has-text-centered">Notre but</h2>
                    <p>
                        Aujourd'hui, l'environnement est au coeur de notre pensée, cependant la plupart des évolutions
                        technologiques et des innovations nous poussent à renouveler nos appareils et ce, même s'ils
                        sont toujours fonctionnels.
                        <br>
                        Chez UFix, nous vous proposons de lutter avec nous contre cela en proposant une solution simple
                        et efficace.
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="general-info">
                    <h2 class="subtitle1 is-size-4 has-text-centered">Ce que nous proposons</h2>
                    <p>
                        Afin de réduire votre impact écologique et de réduire vos dépenses, nous vous proposons 3
                        possibilités :
                    </p>
                    <ul>
                        <li>1 - Vendre ton ancien appareil ou acheter celui d'un autre</li>
                        <li>2 - Faire réparer ton vieil appareil</li>
                        <li>3 - Réparer l'appareil d'un autre utilisateur</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="general-information">
            <h2 class="subtitle1 is-size-4 has-text-centered">Vendre et Acheter</h2>

            <div class="content-wrapper">
                <div class="columns">
                    <div class="column is-6 is-offset-2">
                        <h3 class="is-title3">Vendre</h3>
                        <p>Vendre un de vos appareils usager sur UFix est très simple, vous devez simplement créer un
                            compte sur notre plateforme de réparation et de vente. <br>
                            Rendez-vous ensuite dans l'onglet 'Déposer une annonce' et remplissez le formulaire.</p>
                    </div>
                    <div class="column is-2">
                        <div class="feature-card is-bordered has-text-centered">
                            <div class="card-icon">
                                <img class="image-home" src="{{ asset('img/icon4.png') }}" alt="Icone vendre"/>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('new_ad') }}" class="button is-outlined is-primary">Vendre un
                                    appareil</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="content-wrapper">
                <div class="columns">
                    <div class="column is-2 is-offset-2">
                        <div class="feature-card is-bordered has-text-centered">
                            <div class="card-icon">
                                <img class="image-home" src="{{ asset('img/icon2.png') }}" alt="Icone acheter"/>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('ads') }}" class="button is-outlined is-primary">Acheter un
                                    appareil</a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-5 is-offset-1">
                        <h3 class="is-title3">Acheter</h3>
                        <p>Vous devez tout d'abord trouver un produit qui vous intéresse en cliquant sur 'Rechercher une
                            annonce'.<br>
                            Ensuite, connectez-vous afin de pouvoir acheter le produit que vous souhaitez. En cliquant
                            sur le boutton 'Acheter'.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="general-information">
            <h2 class="subtitle1 is-size-4 has-text-centered">Faire réparer et Réparer</h2>
            <div class="content-wrapper">
                <div class="columns">
                    <div class="column is-6 is-offset-2">
                        <h2 class="is-title3">Faire réparer</h2>
                        <p>Demander une réparation est semblable à vendre un appareil. Vous devrez remplir le formulaire
                            et cocher la case 'Faire réparer'.<br>
                            Les réparateurs (professionnels ou non) pourrons venir vous proposer leurs services ainsi
                            que le détail de la réparation. Ils vous proposeront leurs tarifs et ce sera à vous de choisir celui qui vous convient.
                        </p>
                    </div>
                    <div class="column is-2">
                        <div class="feature-card is-bordered has-text-centered">
                            <div class="card-icon">
                                <img class="image-home" src="{{ asset('img/icon3.png') }}" alt="Icone faire réparer"/>
                            </div>
                            <div class="card-action">
                                <a href="{{ asset('newad') }}" class="button is-outlined is-primary">Faire réparer son
                                    appareil</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="content-wrapper">
                <div class="columns">
                    <div class="column is-2 is-offset-2">
                        <div class="feature-card is-bordered has-text-centered">
                            <div class="card-icon">
                                <img class="image-home" src="{{ asset('img/icon1.png') }}" alt="Icone réparer"/>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('ads') }}" class="button is-outlined is-primary">Réparer des
                                    appareils</a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-5 is-offset-1">
                        <h3 class="is-title3">Réparer</h3>
                        <p>Peut-être êtes-vous un professionnel ? Ou peut-être pas ? Peu importe, sur Ufix, chacun est
                            libre de proposer ses services<br>
                            Vous pourrez ainsi choisir des demandes de réparation, et proposer votre tarif. Si
                            l'utilisateur vous choisit, vous serez mis en contact.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}