<p class="subtitle has-text-centered subtitle-demand">Paiement de l'acheteur effectué, veuillez notifier lorsque vous enverrez le produit</p>
<a class="button is-outlined is-primary" href="{{ path('notify_product_sent_to_buyer', {'id': ad.purchase.id}) }}">
	<span>Notifier l'acheteur de l'envoi du produit</span>
</a>