<p class="subtitle has-text-centered subtitle-demand">Vous avez des demandes d'achat en attente</p>
{% for purchaseRequest in ad.purchaseRequests %}
<div class="columns is-vcentered">
	<div class="column is-6 is-offset-3">
		<div class="columns is-vcentered">
			<div class="column is-4">
				<p>
					<span class="title2">{{purchaseRequest.buyer.firstName}}
						{{purchaseRequest.buyer.lastName}}</span>
					<br>
					<span class="subtitle2">
						{{purchaseRequest.buyer.postCode}}
						{{purchaseRequest.buyer.city}}</span>
				</p>
			</div>
			<div class="column is-8 has-text-centered">
				<a class="button is-outlined is-info m-1r"
					href="{{ path('accept_purchase_request', {'id': purchaseRequest.id}) }}">
					<span>Accepter</span>
				</a>
				<a class="button is-outlined is-primary"
					href="{{ path('refuse_purchase_request', {'id': purchaseRequest.id}) }}">
					<span>Refuser</span>
				</a>
			</div>
		</div>
	</div>
</div>
<hr style="background-color: white; width: 20%;">
{% endfor %}