{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- Annonces
{% endblock %}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Mes Annonces</p>
</div>
{% endblock %}

{% block body %}
<div class="container is-fluid-without-padding">

	<!-- Grid of items-->
	<div class="columns">
		<div class="column is-10 is-offset-1">
			<div class="columns is-mobile is-multiline products">
				{% for ad in ads %}
				<a class="column is-3-desktop is-3-tablet is-12-mobile" {% if ad.archived == true %} style="opacity: 0.5;" {% endif %}
					href="{{ path('my_ad_details', {'id': ad.id}) }}">
					<div class="card all-ads">
						<div class="card-image">
							<figure class="image">
								<img src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image1) }}" alt="{{ ad.productName }} image 1">
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-content has-text-centered">
									<p class="title {% if ad.adPurpose.type == "Faire réparer" %}to-repare{% endif %}">
										{{ad.productName}}{% if ad.adPurpose.type == "Vendre" %} <span class="subtitle">
											| {{ad.productPrice}} € </span>{% endif %}
									</p>
									<p class="subtitle">{{ad.productBreakDescription}}</p>
									{# <p class="susbtitle">{{ad.owner.email}}</p> #}
								</div>
							</div>
							{% if ad.archived == true %} <p class="subtitle is-primary has-text-centered">Annonce archivée</p> {% endif %}
						</div>
					</div>
				</a>



				{% endfor %}
				{# COLUMN #}

			</div>
		</div>
	</div>
</div>
{% endblock %}