{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- Annonce
{% endblock %}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Détails de l'annonce</p>
</div>
{% endblock %}


{% block body %}
<div class="container m-2t">
	<div class="card card-details">
		<!-- Card header-->
		<div class="card-header p-3t">
			<div class="columns">
				<div class="column is-half is-offset-one-quarter has-text-centered column-without-p-top">
					<div class="columns">
						<div class="column">
							<p class="title">{{ad.productName}}</p>
							<p class="subtitle">{{ad.productBreakDescription}}</p>
							{% if ad.archived == true %}
							{% endif %}
							
						</div>
					</div>
					<div class="slider">
						<ul class="js__slider__images slider__images">
							{% if ad.image1 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image1) }}"
									alt="{{ ad.productName }} image 1" /></li>
							{% endif %}
							{% if ad.image2 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image2) }}"
									alt="{{ ad.productName }} image 2" /></li>
							{% endif %}
							{% if ad.image3 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image3) }}"
									alt="{{ ad.productName }} image 3" /></li>
							{% endif %}
							{% if (ad.image1 == null) and (ad.image2 == null) and (ad.image3 == null) %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('img/default-ad.png') }}" alt="image par défaut" /></li>
							{% endif %}
						</ul>
						<div class="slider__controls">
							<span class="slider__control js__slider__control--prev slider__control--prev">
							</span>
							<ol class="js__slider__pagers slider__pagers">
							</ol>
							<span class="slider__control js__slider__control--next slider__control--next">></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content -->
		<div class="card-content">
			<div class="content">
				<div class="columns is-multiline">
					<!-- Column onformation -->
					{# <div class="column is-2-desktop is-hidden-mobile"></div> #}
					<div class="column is-half is-offset-one-quarter">
						<p class="subtitle is-uppercase has-text-centered">Description</p>
						<p>{{ad.adDescription}}</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Card footer -->
		<footer class="custom-card-footer">
			<div class="columns is-vcentered">
				<div class="column is-12 has-text-centered">
					<p class="title has-text-centered">Etat de l'annonce</p>
					{% include ad.currentAdState.template %}
				</div>
			</div>
		</footer>
	</div>
</div>
{% endblock %}