{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- Annonce
{% endblock %}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Détails de l'achat</p>
</div>
{% endblock %}


{% block body %}
<div class="container m-2t">
	<div class="card card-details">
		<!-- Card header-->
		<div class="card-header p-3t">
			<div class="columns">
				<div class="column is-half is-offset-one-quarter has-text-centered column-without-p-top">
					<div class="columns">
						<div class="column">
							<p class="title">{{purchase.ad.productName}}</p>
							<p class="subtitle">{{purchase.ad.productBreakDescription}}</p>
						</div>
					</div>
					<div class="slider">
						<ul class="js__slider__images slider__images">
							{% if purchase.ad.image1 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ purchase.ad.id ~ '/' ~ purchase.ad.image1) }}"
									alt="{{ purchase.ad.productName }} image 1" /></li>
							{% endif %}
							{% if purchase.ad.image2 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ purchase.ad.id ~ '/' ~ purchase.ad.image2) }}"
									alt="{{ purchase.ad.productName }} image 2" /></li>
							{% endif %}
							{% if purchase.ad.image3 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ purchase.ad.id ~ '/' ~ purchase.ad.image3) }}"
									alt="{{ purchase.ad.productName }} image 3" /></li>
							{% endif %}
							{% if (purchase.ad.image1 == null) and (purchase.ad.image2 == null) and (purchase.ad.image3 == null) %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('img/default-ad.png') }}" alt="image par défaut" /></li>
							{% endif %}
						</ul>
						<div class="slider__controls">
							<span class="slider__control js__slider__control--prev slider__control--prev">
							</span>
							<ol class="js__slider__pagers slider__pagers">
							</ol>
							<span class="slider__control js__slider__control--next slider__control--next">></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content -->
		<div class="card-content">
			<div class="content">
				<div class="columns is-multiline">
					<!-- Column onformation -->
					<div class="column is-half is-offset-one-quarter">
						<p class="subtitle is-uppercase has-text-centered">Description</p>
						<p>{{purchase.ad.adDescription}}</p>
					</div>

					<!-- Column specification-->
					<div class="column is-6 is-offset-3">
						<p class="subtitle is-uppercase has-text-centered m-2t">Propriétaire</p>
						<div class="card">
							<div class="card-content">
								<div class="media media-margin">
									<div class="media-left">
										<figure class="image is-48x48">
											{% if purchase.ad.owner.profilePicture %}
											<img class="is-rounded"
												src="{{ asset('uploads/profil/' ~ purchase.ad.owner.profilePicture) }}">
											{% else %}
											<img class="is-rounded" src="{{ asset('img/image_profil.png') }}">
											{% endif %}
										</figure>
									</div>
									<div class="media-content">
										<p class="title2">{{ purchase.ad.owner.firstName }}
											{{ purchase.ad.owner.lastName }}<span class="subtitle2"> (
												{{ purchase.ad.owner.email }} ) </span></p>
										<p class="subtitle2">{{purchase.ad.owner.adress}} {{purchase.ad.owner.postCode}}
											{{purchase.ad.owner.city}}
											| {{purchase.ad.owner.country}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Card footer -->
		<footer class="custom-card-footer">
			<div class="columns is-vcentered">
				<div class="column is-12 has-text-centered">
					<p class="title has-text-centered">Etat de l'achat</p>
					{% include purchase.currentState.template %}
				</div>
			</div>
		</footer>
	</div>
</div>
{% endblock %}