{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- Annonces
{% endblock %}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Mes demandes d'achat</p>
</div>
{% endblock %}

{% block body %}
<div class="container is-fluid-without-padding">

	<!-- Grid of items-->
	<div class="columns">
		<div class="column is-10 is-offset-1">
			<div class="columns is-mobile is-multiline products">
				{% for purchaseRequest in purchaseRequests %}

				<a class="column is-3-desktop is-3-tablet is-12-mobile"
					href="{{ path('my_purchase_request_details', {'id': purchaseRequest.id}) }}">
					<div class="card all-ads">
						<div class="card-image">
							<figure class="image">
								<img src="{{ asset('uploads/annonce/' ~ purchaseRequest.ad.id ~ '/' ~ purchaseRequest.ad.image1) }}"
									alt="{{ purchaseRequest.ad.productName }} image 1">
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-content has-text-centered">
									<p class="title">{{purchaseRequest.ad.productName}}</p>
									<p class="subtitle">{{purchaseRequest.ad.productBreakDescription}}</p>
									<p class="susbtitle">{{purchaseRequest.ad.productPrice}} €</p>
									<p class="susbtitle">{{purchaseRequest.ad.owner.email}}</p>
								</div>
							</div>
						</div>
						<footer class="custom-card-footer">
							<div class="columns is-vcentered">
								<div class="column is-12 has-text-centered">
									<p class="title4 has-text-centered">Informations sur la demande d'achat
									</p>
									{# <p class="subtitle4">{{repairProposition.price}} €</p> #}
									<p class="subtitle4">{{purchaseRequest.message}}</p>
								</div>
							</div>
						</footer>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}