{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- Annonces
{% endblock %}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Mes Achats</p>
</div>
{% endblock %}

{% block body %}
<div class="container is-fluid-without-padding">

	<!-- Grid of items-->
	<div class="columns">
		<div class="column is-10 is-offset-1">
			<div class="columns is-mobile is-multiline products">
				{% for purchase in purchases %}
				<a class="column is-3-desktop is-3-tablet is-12-mobile" {% if purchase.archived == true %} style="opacity: 0.5;" {% endif %}
					href="{{ path('my_purchase_details', {'id': purchase.id}) }}">
					<div class="card all-ads">
						<div class="card-image">
							<figure class="image">
								<img src="{{ asset('uploads/annonce/' ~ purchase.ad.id ~ '/' ~ purchase.ad.image1) }}" alt="{{ purchase.ad.productName }} image 1">
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-content has-text-centered">
									<p class="title {% if purchase.ad.adPurpose.type == "Faire réparer" %}to-repare{% endif %}">
										{{purchase.ad.productName}}{% if purchase.ad.adPurpose.type == "Vendre" %} <span class="subtitle">
											| {{purchase.ad.productPrice}} € </span>{% endif %}
									</p>
									<p class="subtitle">{{purchase.ad.productBreakDescription}}</p>
									{# <p class="susbtitle">{{ad.owner.email}}</p> #}
								</div>
								
							</div>
							{% if purchase.archived == true %} <p class="subtitle is-primary has-text-centered">Achat archivé</p> {% endif %}
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}