{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- Annonces
{% endblock %}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Mes réparations</p>
</div>
{% endblock %}

{% block body %}
<div class="container is-fluid-without-padding">

	<!-- Grid of items-->
	<div class="columns">
		<div class="column is-10 is-offset-1">
			<div class="columns is-mobile is-multiline products">
				{% for repair in repairs %}
				<a class="column is-3-desktop is-3-tablet is-12-mobile"
					href="{{ path('my_repair_details', {'id': repair.id}) }}">
					<div class="card all-ads">
						<div class="card-image">
							<figure class="image">
								<img src="{{ asset('uploads/annonce/' ~ repair.ad.id ~ '/' ~ repair.ad.image1) }}"
									alt="{{ repair.ad.productName }} image 1">
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-content has-text-centered">
									<p
										class="title {% if repair.ad.adPurpose.type == "Faire réparer" %}to-repare{% endif %}">
										{{repair.ad.productName}}{% if repair.ad.adPurpose.type == "Vendre" %} <span
											class="subtitle">
											| {{repair.ad.productPrice}} € </span>{% endif %}
									</p>
									<p class="subtitle">{{repair.ad.productBreakDescription}}</p>
									<p class="subtitle">{{repair.ad.owner.email}}</p>
								</div>
							</div>
						</div>
						<footer class="custom-card-footer">
							<div class="columns is-vcentered">
								<div class="column is-12 has-text-centered">
									<p class="title4 has-text-centered">Informations sur la réparation</p>
									<p class="subtitle4">{{repair.price}} €</p>
									<p class="subtitle4">{{repair.description}}</p>
								</div>
								{% if repair.archived == true %} <p class="subtitle is-primary has-text-centered">
									Réparation archivée</p> {% endif %}

							</div>
						</footer>
					</div>
				</a>

				{% endfor %}
				{# COLUMN #}

			</div>
		</div>
	</div>
</div>
{% endblock %}