{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- Annonces
{% endblock %}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Mes propositions de réparation</p>
</div>
{% endblock %}

{% block body %}
<div class="container is-fluid-without-padding">

	<!-- Grid of items-->
	<div class="columns">
		<div class="column is-10 is-offset-1">
			<div class="columns is-mobile is-multiline products">
				{% for repairProposition in repairPropositions %}

				<a class="column is-3-desktop is-3-tablet is-12-mobile"
					href="{{ path('my_repair_proposition_details', {'id': repairProposition.id}) }}">
					<div class="card all-ads">
						<div class="card-image">
							<figure class="image">
								<img src="{{ asset('uploads/annonce/' ~ repairProposition.ad.id ~ '/' ~ repairProposition.ad.image1) }}"
									alt="{{ repairProposition.ad.productName }} image 1">
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-content has-text-centered">
									<p class="title">
										{{repairProposition.ad.productName}}
									</p>
									<p class="subtitle">{{repairProposition.ad.productBreakDescription}}</p>
									<p class="susbtitle">{{repairProposition.ad.owner.email}}</p>
								</div>


							</div>
						</div>
						<footer class="custom-card-footer">
							<div class="columns is-vcentered">
								<div class="column is-12 has-text-centered">
									<p class="title4 has-text-centered">Informations sur la proposition de réparation
									</p>
									<p class="subtitle4">{{repairProposition.price}} €</p>
									<p class="subtitle4">{{repairProposition.description}}</p>
								</div>
							</div>
						</footer>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}