{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - Error 404
{% endblock %}

{% block layout %}
<section class="hero is-fullheight is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-offset-3 has-text-centered shadows-effect is-white">
                    <div class="t-404">
                        <p class="title-404">404</p>
                        <hr>
                        <p class="title2-404">ERREUR</p>
                    </div>
                    </br>
                    <p class="has-text-black subtitle-404">
                        Cette page n'existe pas ou plus.
                    </p>
                    <p class="has-text-black text-404">
                        Nous vous invitons à revenir à la <a class="link-404 is-primary"
                            href="{{ path('home_page') }}">page
                            d'accueil</a> de notre site.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}