{% extends 'admin/index.html.twig' %}

{% block body %}
<!-- Notification -->
{% for message in app.flashes('success-connect') %}
<div id="notif" class="notification notif-fixed-top">
	<button class="delete"></button>
	<div class="alert alert-success has-text-centered">
		{{ message }}
	</div>
</div>
{% endfor %}

<h1 class="has-text-centered title">Ici bientôt, Google Analytics API.</h1>
{% endblock %}