{% extends 'admin/index.html.twig' %}

{% block body %}
<h1 class="subtitle has-text-centered">Toutes les annonces</h1>
<div class="columns is-multiline p-1">
    {% for ad in ads %}
    <div class="column is-4-desktop is-12-touch p-1">
        <div class="card">
            <div class="card-image">
                <figure class="image is-2by1">
                    {% if ad.image1 %}
                        <img src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image1) }}" alt="Placeholder image">
                    {% else %}
                        <img src="{{ asset('img/default-ad.png') }}" alt="image par défaut">
                    {% endif %}
                </figure>
            </div>
            <div class="card-content">
                <div class="media verticaly-center">
                    <div class="media-content">
                        <p class="title2">{{ ad.productName }}</p>
                        <p class="subtitle">{{ ad.productPrice }}€</p>
                        <p class="subtitle">{{ ad.productBreakDescription }}</p>
                    </div>
                    <div class="medi-right">
                        <form method="post" action="{{ path('ad_delete', {'id': ad.id}) }}"
                            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
                            <button class="deleteIcon">
                                <span class="icon">
                                    <i class="fas fa-times"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="media verticaly-center">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{{ asset('uploads/profil/' ~ ad.owner.profilePicture) }}" alt="Img profile user">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title2">{{ ad.owner.email }}</p>
                        <p class="subtitle2">{{ ad.owner.firstName }} {{ ad.owner.lastName }}</p>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item ft-card"></div>
            </footer>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}