{% extends 'admin/index.html.twig' %}

{% block body %}
<h1 class="subtitle has-text-centered">Tous les utilisateurs</h1>
<div class="columns is-multiline p-1">
    {% for user in users %}
    {% if "ROLE_ADMIN" not in user.roles %}
    <div class="column is-4-desktop is-12-touch p-1">
        <div class="card">
            <div class="card-content">
                <div class="media verticaly-center">
                    <div class="media-left">
                        <figure class="image is-48x48">
                        {% if user.profilePicture %}
                            <img src="{{ asset('uploads/profil/' ~ user.profilePicture) }}" alt="Placeholder image">
                        {% else %}
                            <img src="{{ asset("img/image_profil.png") }}" alt="Placeholder image">
                        {% endif %}
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title2">{{ user.email }}</p>
                        <p class="subtitle2">{{ user.firstName }} {{ user.lastName }}</p>
                    </div>
                    <div class="medi-right">
                        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
                            onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="deleteIcon">
                                <span class="icon">
                                    <i class="fas fa-times"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item ft-card"></div>
            </footer>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}