<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}UFiX{% endblock %}
  </title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
  <link rel="icon" type="image/png" href="{{ asset('img/icon-onglet.png') }}" />
  {% endblock %}
</head>

<body>
  <section class="hero">
    <!-- Page head -->
    <div class="hero-head">
      <!-- Navbar -->
      {% block navbar %}
      <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample2">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample2" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <img src="{{ asset('img/logo_white.png') }}" alt="Logo UFix"/>
            </div>
          </div>
          <div class="navbar-end">
            {% if app.user %}
            {# <a class="navbar-item" href="{{ path('app_logout') }}">
              <span class="icon is-medium">
                <i class="fas fa-power-off is-size-6"></i>
              </span>
            </a> #}
            {% endif %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <figure class="image m-1r">
                  <img class="is-rounded" src="{{ asset('img/trump.jpg') }}">
                </figure>
                <p>Hi, {{ user.email }}</p>
              </a>
              <div class="navbar-dropdown">
                {# <a class="navbar-item">
                  Modifier mon profil
                </a>
                <hr class="navbar-divider"> #}
                <a class="navbar-item" href="{{ path('app_logout') }}">
                  Déconnexion
                </a>
              </div>
            </div>
            {# <a class="navbar-item" href="{{ path('profil_page') }}">
              <span class="icon is-medium">
                <i class="far fa-user is-size-6"></i>
              </span>
            </a> #}
          </div>
        </div>
      </nav>
      {% endblock %}
    </div>
    <div class="columns">
      <div class="column is-2-desktop is-4-touch bg-black column-fullheight">
        <aside class="menu">
          <p class="has-text-centered title-admin">Administration</p>
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li>
              <a href="{{ path('dashboard') }}">
                <span class="icon">
                  <i class="fa fa-home"></i>
                </span> Dashboard
              </a>
            </li>
            <li>
              <a href="{{ path('genUsers') }}">
                <span class="icon">
                  <i class="fas fa-users"></i>
                </span> Tous les utilisateurs
              </a>
            </li>
            <li>
              <a href="{{ path('genAds') }}">
                <span class="icon">
                  <i class="fas fa-mail-bulk"></i>
                </span> Toutes les annonces
              </a>
            </li>
          </ul>

          <p class="menu-label">
            Signalement
          </p>
          <ul class="menu-list">
            <li>
              <a href="{{ path('warnAds') }}">
                <span class="icon">
                  <i class="fas fa-clipboard"></i>
                </span> Annonces
              </a>
            </li>
            {# <li>
              <a href="{{ path('warnUsers') }}">
                <span class="icon">
                  <i class="fas fa-users-cog"></i>
                </span> Utilisateurs
              </a>
            </li> #}
          </ul>
        </aside>
      </div>
      <div class="column is-10-desktop is-8-touch">
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </section>
  {% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"></script>
  <script src="{{ asset('js/app.js') }}"></script>
  {% endblock %}
</body>

</html>