{% extends 'admin/index.html.twig' %}

{% block body %}
<h1 class="subtitle has-text-centered">Toutes les annonces signalées</h1>
<div class="columns is-multiline p-1">
    {% for report in reports %}
    <div class="column is-4-desktop is-12-touch p-1">
        <div class="card">
            <div class="card-content">
                <div class="media verticaly-center">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{{ asset('img/iphone6.png') }}" alt="Img ad">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title2">{{ report.ads.productName }}</p>
                        <p class="subtitle">{{ report.ads.productPrice }}€</p>
                        <p class="subtitle">{{ report.ads.productBreakDescription }}</p>
                    </div>
                </div>
                <div class="media verticaly-center">
                    <div class="media-content">
                        <p class="title2 is-color3">Raison du signalement</p>
                        <p class="subtitle2">{{ report.keywords }}</p>
                        <p class="subtitle2">{{ report.content }}</p>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item ft-card"></div>
            </footer>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}