{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Sélection du réparateur
{% endblock %}

{% form_theme newPurchaseRequestForm _self %}
{%- block text_widget -%}
<input name="{{ full_name }}" class="input" type="text" id="text_{{ value }}" placeholder="{{label}}" required>
{%- endblock text_widget -%}
{%- block password_widget -%}
<input name="{{ full_name }}" class="input" type="password" id="password_{{ value }}" placeholder="{{label}}" required>
{%- endblock password_widget -%}
{%- block email_widget -%}
<input name="{{ full_name }}" class="input" type="email" id="email_{{ value }}" placeholder="{{label}}" required>
{%- endblock email_widget -%}
{%- block number_widget -%}
<input name="{{ full_name }}" class="input" type="number" id="number_{{ value }}" placeholder="{{label}}" required>
{%- endblock number_widget -%}
{%- block textarea_widget -%}
<textarea name="{{ full_name }}" class="textarea" type="textarea" id="number_{{ value }}" placeholder="{{label}}"
	required></textarea>
{%- endblock textarea_widget -%}
{%- block submit_widget -%}
<input class="button is-primary is-outlined" name="{{ full_name }}" id="submit_{{ value }}" type="submit"
	value="Valider" />
{%- endblock submit_widget -%}

{% block navbar %}
{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Demande d'achat</p>
</div>
{% for message in app.flashes('success') %}
<div id="notif" class="notification notif-fixed-top">
  <button class="delete"></button>
  <div class="alert alert-success has-text-centered">
    {{ message }}
  </div>
</div>
{% endfor %}
{% for message in app.flashes('error') %}
<div id="notif" class="notification notif-fixed-top">
  <button class="delete"></button>
  <div class="alert alert-success has-text-centered">
    {{ message }}
  </div>
</div>
{% endfor %}
{% endblock %}

{% block body %}
<div class="container">
	<!-- Top of content page -->
	<div class="columns">
		<div class="column is-4 is-offset-4">
			<div class="card card-second">
				<div class="card-image">
					<figure class="image is-2by1">
						<img src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image1) }}"
							alt="{{ ad.productName }} image 1">
					</figure>
				</div>
				<div class="card-content">
					<div class="media verticaly-center">
						<div class="media-content has-text-centered">
							<p class="title2">{{ ad.productName }}
								<span class="subtitle">( {{ ad.productPrice }} € )</span>
							</p>
							<p class="subtitle">{{ ad.productBreakDescription }}</p>
						</div>
					</div>
				</div>
				<footer class="card-footer">
					<div class="card-footer-item ft-card"></div>
				</footer>
			</div>
		</div>
	</div>
	<!-- Content -->
	<div class="columns">
		<!-- Left column -->
		<div class="column is-8 is-offset-2">
			<div class="columns">
				<div class="column is-6 has-text-centered">
					<p class="title2">Demandes existantes</p>
					<div class="is-scrollable">
						{% for purchaseRequest in ad.purchaseRequests %}
						<div class="card card-purchaseR">
							<div class="card-content">
								<div class="media media-margin">
									<div class="media-left">
										<figure class="image is-48x48">
											{% if purchaseRequest.buyer.profilePicture %}
											<img class="is-rounded"
												src="{{ asset('uploads/profil/' ~ purchaseRequest.buyer.profilePicture) }}">
											{% else %}
											<img class="is-rounded" src="{{ asset('img/image_profil.png') }}">
											{% endif %}
										</figure>
									</div>
									<div class="media-content">
										<p class="title2">{{ purchaseRequest.buyer.firstName }}
											{{ purchaseRequest.buyer.lastName }}<span class="subtitle2"> (
												{{ purchaseRequest.buyer.email }} ) </span></p>
										<p class="subtitle2">{{purchaseRequest.buyer.adress}}
											{{purchaseRequest.buyer.postCode}} {{purchaseRequest.buyer.city}}
											| {{purchaseRequest.buyer.country}}</p>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="column is-6 has-text-centered">
					<p class="title2 m-1b">Faire une demande d'achat</p>
					{{ form_start(newPurchaseRequestForm) }}
					<div class="field">
						<div class="control">
							{{ form_widget(newPurchaseRequestForm.message) }}
							<!-- <input class="input" type="text" placeholder="Votre prix"> -->
						</div>
					</div>
					{{ form_widget(newPurchaseRequestForm.submit) }}
					{# <a class="button is-primary is-rounded is-outlined" href="{{ path("home_connected") }}" onclick="isSend()">Publier</a> #}
					{{ form_end(newPurchaseRequestForm) }}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}