{% extends 'base.html.twig' %}

{% block title %}Device index{% endblock %}

{% block body %}
    <h1>Device index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td>{{ device.type }}</td>
                <td>
                    <a href="{{ path('device_show', {'id': device.id}) }}">show</a>
                    <a href="{{ path('device_edit', {'id': device.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('device_new') }}">Create new</a>
{% endblock %}
