{% extends 'base.html.twig' %}

{% block title %}Device{% endblock %}

{% block body %}
    <h1>Device</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ device.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ device.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('device_index') }}">back to list</a>

    <a href="{{ path('device_edit', {'id': device.id}) }}">edit</a>

    {{ include('device/_delete_form.html.twig') }}
{% endblock %}
