{% extends 'layout.html.twig' %}

{% block layout %}
<section class="hero">
  <!-- page head-->
  <div class="hero-head">

    <!-- navbar -->
    {% block navbar %}
    <nav class="navbar" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('home_page') }}">
          <img src="{{ asset('img/logo_white_150x46.png') }}" alt="Logo UFix" />
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-center is-size-6">
          {% if app.user %}
          <a class="navbar-item" href="{{ path('new_ad') }}">
            Déposer une annonce
          </a>
          {% elseif not app.user %}
          <a class="navbar-item" href="{{ path('new_ad') }}">
            Déposer une annonce
          </a>
          {% endif %}
          <a class="navbar-item" href="{{ path('ads') }}">
            Rechercher une annonce
          </a>
          {% if app.user %}
          <a class="navbar-item" href="{{ path('my_saved_ads', {'userId': app.user.id}) }}">
            Annonces sauvegardées
          </a>
          {% endif %}
        </div>
        <div class="navbar-center-mobile is-hidden-desktop"></div>

        <hr class="hr-nav-mobile is-hidden-desktop">

        <div class="navbar-end">
          {% if not app.user %}
          <div class="navbar-item">
            <a class="navbar-item" href="{{ path('login') }}">
              <span class="icon is-medium">
                <i class="far fa-user is-size-6"></i>
              </span>
            </a>
          </div>
          {% elseif app.user %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link nbl-2 is-hidden-mobile">
              <figure class="image m-1r">
                {% if app.user.profilePicture %}
                <img class="is-rounded" src="{{ asset('uploads/profil/' ~ app.user.profilePicture) }}">
                {% else %}
                <img class="is-rounded" src="{{ asset('img/image_profil.png') }}">
                {% endif %}
              </figure>
              <p>Bonjour, {{ app.user.firstName }} {{ app.user.lastName }} !</p>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ path('profil_page') }}">
                Modifier mon profil
              </a>
              <a class="navbar-item" href="{{ path("my_ads") }}">
                Mes annonces
              </a>
              <a class="navbar-item" href="{{ path("my_purchases") }}">
                Mes achats
              </a>
              <a class="navbar-item" href="{{ path("my_repairs") }}">
                Mes réparations
              </a>
              <a class="navbar-item" href="{{ path("my_repair_propositions") }}">
                Propositions de réparation
              </a>
              <a class="navbar-item" href="{{ path("my_purchase_requests") }}">
                Demandes d'achat
              </a>
              <a class="navbar-item" href="{{ path('my_saved_ads', {'userId': app.user.id}) }}">
                Mes annonces sauvegardées
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{{ path('app_logout') }}">
                Déconnexion
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
  </div>
  </nav>
  {% endblock %}
  </div>
</section>

{% block body %}{% endblock %}

<!-- Footer -->
<section class="hero">
  <div class="hero-footer">
    {% block footer %}
    <div class="columns is-vcentered">
      <div class="column">
        <p class="has-text-left-desktop has-text-centered-mobile has-text-left-tablet">
          <a href="{{ path('legal_mentions') }}" class="is-size-7">Mentions légales</a>
          |
          <a href="{{ path('general_information') }}" class="is-size-7">Informations générales</a>
          |
          <a href="{{ path('cgu') }}" class="is-size-7">CGU</a>
          |
          <a href="{{ path('contact') }}" class="is-size-7">Nous contater</a>
        </p>
      </div>
      <div class="column">
        <p class="has-text-centered is-size-7">@UFiX 2019</p>
      </div>
      <div class="column">
        <p class="has-text-right-desktop has-text-centered-mobile is-size-7 has-text-right-tablet">
          Retrouvez-nous sur :
          <a href="https://twitter.com/UFixFR" class="icon-reseaux">
            <span class="icon is-medium">
              <i class="fab fa-twitter"></i>
            </span>
          </a>
          <a href="https://www.facebook.com/uFixFR/" class="icon-reseaux">
            <span class="icon is-small">
              <i class="fab fa-facebook-f"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
    {% endblock %}
  </div>
</section>
{% endblock %}