{% extends 'base2.html.twig' %}

{% block title %}
{{ parent() }}
- Accueil
{% endblock %}

{% block body %}
{% for message in app.flashes('success-connect') %}
<div id="notif" class="notification notif-fixed-top">
	<button class="delete"></button>
	<div class="alert alert-success has-text-centered">
		{{ message }}
	</div>
</div>
{% endfor %}
<section class="hero is-fullheight-with-navbar">
	<div class="hero-body">
		<div class="container">
			<!-- Top part -->
			<div class="columns is-vcentered p-3t">
				<!-- Left part-->
				<div class="column is-5 is-offset-1-desktop is-offset-1-tablet is-offset-1-mobile landing-caption">
					<h1 class="title is-1 is-bold is-spaced">
						Faites renaître vos appareils de leurs cendres !
					</h1>
					<h2 class="subtitle is-5 is-dark">Et ainsi participer à la réduction de l'empreinte
						environnementale.</h2>

					<a class="button is-outlined is-primary" href="{{ path('login') }}">Connexion / Inscription</a>

				</div>
				<!-- Image -->
				<div class="column is-5">
					<img src="{{ asset('img/home_500x364.jpg') }}" alt="Image présentation UFix" />
				</div>
			</div>
		</div>
	</div>
	<!-- Button to link next section -->
	<div class="hero-footer has-background-white">
		<div class="container has-text-centered">
			<a class="scroll" href="#second-block">
				<span class="icon">
					<i class="fas fa-chevron-down"></i>
				</span>
			</a>
		</div>
	</div>
</section>

<section id="second-block" class="section is-medium">
	<div class="container">
		<!-- Presentation top-->
		<div class="title-wrapper has-text-centered">
			<h2 class="title is-4">Grâce à UFix tu peux :</h2>
			<h3 class="subtitle is-6">*tout en préservant l'environnement</h3>
			<div class="divider is-centered"></div>
		</div>
		<!-- Presentation of UFix -->
		<div class="content-wrapper">
			<div class="columns">
				<div class="column is-one-quarter">
					<div class="feature-card is-bordered has-text-centered">
						<div class="card-title">
							<h4>Réparer</h4>
						</div>
						<div class="card-icon">
							<img class="image-home" src="{{ asset('img/icon1.png') }}" alt="Icone réparer" />
						</div>
						<div class="card-text">
							<p class="small-text-area">Tu souhaites réparer des appareils électroniques tels que des
								téléphones,
								ordinateurs ou tablettes ?</p>
						</div>
						<div class="card-action">
							<a href="{{ path('ads') }}" class="button is-outlined is-primary">Réparer des
								appareils</a>
						</div>
					</div>
				</div>
				<div class="column is-one-quarter">
					<div class="feature-card is-bordered has-text-centered">
						<div class="card-title">
							<h4>Acheter</h4>
						</div>
						<div class="card-icon">
							<img class="image-home" src="{{ asset('img/icon2.png') }}" alt="Icone acheter" />
						</div>
						<div class="card-text">
							<p class="small-text-area">Achètes des appareils électroniques usagés mais fonctionnels, à
								moindre coût.
							</p>
						</div>
						<div class="card-action">
							<a href="{{ path('ads') }}" class="button is-outlined is-primary">Acheter un
								appareil</a>
						</div>
					</div>
				</div>
				<div class="column is-one-quarter">
					<div class="feature-card is-bordered has-text-centered">
						<div class="card-title">
							<h4>Vendre</h4>
						</div>
						<div class="card-icon">
							<img class="image-home" src="{{ asset('img/icon4.png') }}" alt="Icone vendre" />
						</div>
						<div class="card-text">
							<p class="small-text-area">Vends tes appareils usagés et participe à la réduction de
								l'empreinte
								environnementale sur notre planète.</p>
						</div>
						<div class="card-action">
							<a href="{{ path('new_ad') }}" class="button is-outlined is-primary">Vendre un appareil</a>
						</div>
					</div>
				</div>
				<div class="column is-one-quarter">
					<div class="feature-card is-bordered has-text-centered">
						<div class="card-title">
							<h4>Faire réparer</h4>
						</div>
						<div class="card-icon">
							<img class="image-home" src="{{ asset('img/icon3.png') }}" alt="Icone faire réparer" />
						</div>
						<div class="card-text">
							<p class="small-text-area">Viens faire réparer tes appareils cassés en toute simplicité et
								de façon
								responsable.</p>
						</div>
						<div class="card-action">
							<a href="{{ asset('newad') }}" class="button is-outlined is-primary">Faire réparer son
								appareil</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}