<!DOCTYPE html>
<html lang="fr">

<head>
    {# <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="428dabee-e240-4e0e-bb74-4b168a3fccf1"
        data-blockingmode="auto" type="text/javascript"></script> #}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}UFiX{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    <link rel="icon" type="image/png" href="{{ asset('img/icon-onglet.png') }}" />
    {% endblock %}
</head>

<body>

    {% block layout %}{% endblock %}

    {% block javascripts %}
    {# <script id="CookieDeclaration" src="https://consent.cookiebot.com/428dabee-e240-4e0e-bb74-4b168a3fccf1/cd.js"
        type="text/javascript" async></script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
</body>

</html>