{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - Login
{% endblock %}

{% block layout %}

{% if not app.user %}
<section class="hero is-fullheight is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-4 is-offset-4 has-text-centered sign-in-home shadows-effect is-white">
                    <a href="{{ path('home_page') }}">
                        {# <span class="icon has-text-black">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </span> #}
                        Revenir à l'accueil
                    </a>
                    <h1 class="title has-text-black m-2t">Connexion</h1>
                    <form method="post" action="" class="form p-form">
                        {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}

                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input type="email" value="{{ last_username }}" name="email" placeholder="Email"
                                    id="inputEmail" class="form-control input" required autofocus>
                                {# <input class="input" type="email" placeholder="Email" required> #}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field m-2b">
                            <p class="control has-icons-left">
                                <input type="password" name="password" id="inputPassword" class="form-control input"
                                    placeholder="Password" required>
                                {# <input class="input" type="password" placeholder="Password" required> #}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="button is-primary is-outlined" href="{{ asset('home') }}" type="submit">Se
                            connecter</button>
                        <div class="m-1t">
                            <a class="underline" href="{{ asset('signin') }}">Vous n'êtes pas inscrit ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}