{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} - Signin
{% endblock %}

{% form_theme newUserForm _self %}
{%- block text_widget -%}
<input name="{{ full_name }}" class="input" type="text" id="text_{{ value }}" placeholder="{{label}}" required>
{%- endblock text_widget -%}
{%- block password_widget -%}
<input name="{{ full_name }}" class="input" type="password" id="password_{{ value }}" placeholder="{{label}}" required>
{%- endblock password_widget -%}
{%- block email_widget -%}
<input name="{{ full_name }}" class="input" type="email" id="email_{{ value }}" placeholder="{{label}}" required>
{%- endblock email_widget -%}
{%- block number_widget -%}
<input name="{{ full_name }}" class="input" type="number" id="number_{{ value }}" placeholder="{{label}}" required>
{%- endblock number_widget -%}
{%- block submit_widget -%}
<input class="button is-primary is-outlined" name="{{ full_name }}" id="submit_{{ value }}" type="submit"
    value="Valider" />
{%- endblock submit_widget -%}

{% block layout %}
<div id="notif" class="notification notif-fixed-top is-hidden">
	<button class="delete"></button>
	<p>Vous êtes bien inscrit.</p>
</div>
{% if not app.user %}
<section class="hero is-fullheight is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2 has-text-centered sign-in-home shadows-effect is-white">
                    <a href="{{ path('home_page') }}">
                        {# <span class="icon has-text-black">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </span> #}
                        Revenir à l'accueil
                    </a>
                    <h1 class="title has-text-black m-2t">Inscription</h1>

                    {{ form_start(newUserForm) }}
                    <div class="columns">
                        <div class="column is-6">
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    {{ form_widget(newUserForm.firstName) }}
                                    {# <input class="input" type="text" placeholder="Nom" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="far fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    {{ form_widget(newUserForm.lastName) }}
                                    {# <input class="input" type="text" placeholder="Prénom" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="far fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    {{ form_widget(newUserForm.email) }}
                                    {# <input class="input" type="email" placeholder="Email" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="far fa-envelope"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    {{ form_widget(newUserForm.password.first) }}
                                    {# <input class="input" type="password" placeholder="Mot de passe" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    {{ form_widget(newUserForm.password.second) }}
                                    {# <input class="input" type="password" placeholder="Mot de passe" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field has-text-black">
                                <p class="control has-icons-left has-icons-right">
                                    {{ form_widget(newUserForm.adress) }}
                                    {# <input class="input" type="text" placeholder="Adresse" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left has-icons-right input_number_without_arrows">
                                    {{ form_widget(newUserForm.postCode) }}
                                    {# <input class="input" type="text" placeholder="Code postale" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    {{ form_widget(newUserForm.country) }}
                                    {# <input class="input" type="text" placeholder="Pays" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="far fa-flag"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field m-2b">
                                <p class="control has-icons-left">
                                    {{ form_widget(newUserForm.city) }}
                                    {# <input class="input" type="text" placeholder="Ville" required> #}
                                    <span class="icon is-small is-left">
                                        <i class="far fa-building"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <label class="checkbox m-2b m-1t has-text-black">
                        {{ form_widget(newUserForm.agree) }}
                        {# <input type="checkbox" required> #}
                        J'accepte les
                        <a href="#">CGU</a>
                    </label>
                    <br />
                    <div class="field" style="display:inline-block">
							Êtes-vous un robot ?
							
							{{ form_widget(newUserForm.captchaCodeUser, {'attr' : { 'class' : 'form-control' } }) }}
                    </div>

                    {{ form_end(newUserForm) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}