<p class="subtitle has-text-centered subtitle-demand">Le propriétaire a été informé que le produit est en phase de répartion. Veuillez
	notifier lorsque vous aurez renvoyé</p>
<a class="button is-outlined is-primary" href="{{ path('notify_product_sent_to_owner', {'id': repair.id}) }}">
	<span>Notifier le propriétaire du renvoi de son produit réparé</span>
</a>
