<p class="subtitle has-text-centered subtitle-demand">Le produit a été envoyé, veuillez notifier quand vous l'aurez reçu afin de
	déclencher la phase de réparation</p>
<a class="button is-outlined is-primary" href="{{ path('notify_product_reception_from_owner', {'id': repair.id}) }}">
	<span>Notifier le propriétaire de la réception du produit</span>
</a>