{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Annonce
{% endblock %}

{% block navbar %}

{{ parent() }}
<div class="container-is-fluid extended">
	<p class="title has-text-centered">Annonce</p>
</div>
{% for message in app.flashes('success') %}
<div id="notif" class="notification notif-fixed-top">
	<button class="delete"></button>
	<div class="alert alert-success has-text-centered">
		{{ message }}
	</div>
</div>
{% endfor %}
{% endblock %}

{% form_theme reportForm _self %}
{%- block text_widget -%}


<input name="{{ full_name }}" class="input text m-1b" type="text" id="text_{{ value }}" placeholder="{{ label }}"
	required>
{%- endblock text_widget -%}
{%- block textarea_widget -%}
<textarea name="{{ full_name }}" class="textarea m-1b" id="textarea_{{ value }}" placeholder="{{ label }}"
	required></textarea>


{%- endblock textarea_widget -%}
{%- block submit_widget -%}
<input class="button is-primary m-1t" name="{{ full_name }}" id="submit_{{ value }}" type="submit" value="Signaler" />
{%- endblock submit_widget -%}

{% block body %}
<div class="container m-2t">
	<div class="card card-details">
		<!-- Card header-->
		<div class="card-header p-3t">
			<div class="columns">
				<div class="column is-half is-offset-one-quarter has-text-centered column-without-p-top">
					<div class="columns">
						<div class="column">
							<p class="title">{{ad.productName}}</p>
							<p class="subtitle">{{ad.productBreakDescription}}</p>
						</div>
					</div>
					<div class="slider">
						<ul class="js__slider__images slider__images">
							{% if ad.image1 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image1) }}"
									alt="{{ ad.productName }} image 1" /></li>
							{% endif %}
							{% if ad.image2 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image2) }}"
									alt="{{ ad.productName }} image 2" /></li>
							{% endif %}
							{% if ad.image3 %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image3) }}"
									alt="{{ ad.productName }} image 3" /></li>
							{% endif %}
							{% if (ad.image1 == null) and (ad.image2 == null) and (ad.image3 == null) %}
							<li class="slider__images-item"><img class="slider__images-image"
									src="{{ asset('img/default-ad.png') }}" alt="image par défaut" /></li>
							{% endif %}
						</ul>
						<div class="slider__controls">
							<span class="slider__control js__slider__control--prev slider__control--prev">
							</span>
							<ol class="js__slider__pagers slider__pagers">
							</ol>
							<span class="slider__control js__slider__control--next slider__control--next">></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content -->
		<div class="card-content">
			<div class="content">
				<div class="columns is-multiline">
					<!-- Column onformation -->
					{# <div class="column is-2-desktop is-hidden-mobile"></div> #}
					<div class="column is-half is-offset-one-quarter">
						<p class="subtitle is-uppercase has-text-centered">Description</p>
						<p>{{ad.adDescription}}</p>
					</div>
					<!-- Column seller -->
					<div class="column is-6 is-offset-3">
						<p class="subtitle is-uppercase has-text-centered m-2t">Propriétaire</p>
						<div class="card">
							<div class="card-content">
								<div class="media media-margin">
									<div class="media-left">
										<figure class="image is-48x48">
											{% if ad.owner.profilePicture %}
											<img class="is-rounded"
												src="{{ asset('uploads/profil/' ~ ad.owner.profilePicture) }}">
											{% else %}
											<img class="is-rounded" src="{{ asset('img/image_profil.png') }}">
											{% endif %}
										</figure>
									</div>
									<div class="media-content">
										<p class="title2">{{ ad.owner.firstName }} {{ ad.owner.lastName }}<span
												class="subtitle2"> ( {{ ad.owner.email }} ) </span></p>
										<p class="subtitle2">{{ad.owner.adress}} {{ad.owner.postCode}} {{ad.owner.city}}
											| {{ad.owner.country}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card footer -->
		<footer class="custom-card-footer">
			<div class="columns is-vcentered">
				<div class="column is-6 is-offset-3">
					<div class="columns is-mobile is-multiline is-vcentered">
						<div
							class="column is-2-desktop is-4-touch {% if ad.adPurpose.type == "Faire réparer" %}is-offset-2-desktop is-offset-2-touch{% endif %} has-text-centered">
							<div class="modal" id="myModal">
								<div class="modal-background"></div>
								<div class="modal-card">
									<section class="section is-medium">
										<div class="container">
											<div class="box">
												<div class="body">
													{{ form(reportForm) }}
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
							<a class="save-ad" id="btn">
								<i class="fas fa-exclamation-circle fa-2x"></i>
							</a>
						</div>
						{% if ad.adPurpose.type == "Vendre" %}
						<div class="column is-2-desktop is-4-touch has-text-centered">
							<p class="has-text-white">{{ad.productPrice}} €</p>
						</div>
						{% endif %}
						{# {% if ad.adPurpose.type == "Faire réparer" %}
							<div class="column is-hidden-desktop is-4-touch has-text-centered"></div>
							{% endif %} #}
						<div class="column is-2-desktop is-4-touch has-text-centered">
							<a href="{{ path("add_saved_ad", {'userId': app.user.id , 'adId': ad.id}) }}"
								class="save-ad">
								<i class="far fa-heart fa-2x"></i>
							</a>
						</div>
						{% if ad.adPurpose.type == "Faire réparer" %}
						<div class="column is-6-desktop is-12-touch has-text-centered">
							<a class="button is-outlined is-rounded is-info"
								href="{{ path('new_repair_proposition', { 'id': ad.id}) }}">
								<span>Réparer</span>
								<span class="icon">
									<i class="fas fa-angle-right"></i>
								</span>
							</a>
						</div>
						{% elseif ad.adPurpose.type == "Vendre" %}
						<div class="column is-6-desktop is-12-touch has-text-centered">
							<a class="button is-outlined is-rounded is-info"
								href="{{ path('new_purchase_request', { 'id': ad.id}) }}">
								<span>Faire une demande d'achat</span>
								<span class="icon">
									<i class="fas fa-angle-right"></i>
								</span>
							</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
{% endblock %}