{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Annonces
{% endblock %}

{% block navbar %}
    {{ parent() }}
    <div class="container-is-fluid extended">
        <p class="title has-text-centered">Annonces</p>
    </div>
{% endblock %}

{% block body %}
    <div class="container is-fluid-without-padding">
        <!-- Top part-->
        <div class="columns is-centered p-3t">
            <div class="column is-6" id="search_bar">
                <article class="panel">
                    <p class="panel-tabs" id="panel-tab">
                        <a class="tab is-active" href="{{ path('ads') }}">Tous</a>
                        {% for device in devices %}
                            <a class="tab" href="{{ path('ads_from_device', {'id': device.id}) }}">{{ device.type }}</a>
                        {% endfor %}
                    </p>
                </article>
            </div>
        </div>
        <!-- Grid of items-->
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns is-mobile is-multiline products">
                    {% for ad in ads %}
                        {% if ad.visible == true and ad.owner != user%}
                            <a class="column is-3-desktop is-3-tablet is-12-mobile" href="{{ path('ad_details', { 'id': ad.id}) }}">
                                <div class="card all-ads">
                                    <div class="card-image">
                                        <figure class="image">
                                            {% if ad.image1 %}
                                                <img src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image1) }}"
                                                     alt="{{ ad.productName }} image">
                                            {% elseif ad.image2 %}
                                                <img src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image2) }}"
                                                     alt="{{ ad.productName }} image">
                                            {% elseif ad.image3 %}
                                                <img src="{{ asset('uploads/annonce/' ~ ad.id ~ '/' ~ ad.image3) }}"
                                                     alt="{{ ad.productName }} image">
                                            {% else %}
                                                <img src="{{ asset('img/default-ad.png') }}" alt="image par défaut">
                                            {% endif %}
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content has-text-centered">
                                                <h1 class="title {% if ad.adPurpose.type == "Faire réparer" %}to-repare{% endif %}">
                                                    {{ad.productName}}{% if ad.adPurpose.type == "Vendre" %} <span
                                                            class="subtitle"> | {{ad.productPrice}} € </span>{% endif %}
                                                </h1>
                                                <h2 class="subtitle">{{ad.productBreakDescription}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}


                    {% endfor %}
                    {# COLUMN #}

                </div>
            </div>
        </div>
    </div>
{% endblock %}