<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" />
    <title>Ufix</title>
</head>

<body>

    <section class="hero is-fullheight" style="background-color: #ff7417;">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-4 is-offset-4 has-text-centered">
                        <h1 class="title has-text-white">Merci de votre inscription !</h1>
                        <img src="{{ asset('img/logo_white.png') }}" alt="Image présentation UFix">
                        <hr>
                        <button class="button is-primary is-outlined">
                            <a href="https://u-fix.fr/login" style="color: whitesmoke;">Se connecter</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js"></script>
</body>

</html>