<p class="subtitle has-text-centered subtitle-demand">Demande d'achat acceptée par le vendeur, veuillez procéder au paiement</p>
<a class="button is-outlined is-primary" href="{{ path('pay_purchase', {'id': purchase.id}) }}">
	<span>Payer</span>
</a>