<p class="subtitle has-text-centered subtitle-demand">Le vendeur a envoyé votre produit, veuillez le notifier quand vous l'aurez reçu</p>
<a class="button is-outlined is-primary" href="{{ path('confirm_purchase', {'id': purchase.id}) }}">
	<span>Confirmer la réception du produit</span>
</a>